<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>



<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                David Picard
              </h1>
              <p style="text-align:center">
              <a href="https://imagine-lab.enpc.fr/">IMAGINE</a>/<a href="http://ligm.u-pem.fr/">LIGM</a>, <a href="http://www.enpc.fr/en">École des Ponts ParisTech</a><br />
              6-8, Av Blaise Pascal - Cité Descartes <br />
              Champs-sur-Marne <br />
              77455 Marne-la-Vallée cedex 2 
              </p>
              <p style="text-align:center">
                <a target="_blank" href="https://mailhide.io/e/rKZBG"> Email</a> &nbsp;/&nbsp;
                <a href="https://github.com/davidpicard">GitHub</a> &nbsp;/&nbsp;
                <a href="https://scholar.google.com/citations?user=YtF6k9AAAAAJ">Google Scholar</a>
              </p>
              <p style="text-align:center">
              <img style="width:25%;max-width:25%" src="http://ligm.u-pem.fr/uploads/RTEmagicC_LIGM-200.png.png" /> <img style="width:25%;max-width:25%" src="http://www.enpc.fr/sites/enpc.fr/files/ckfinder/images/ecole_ponts_RVB72_petit.jpg" />
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="images/moi.jpg">
            </td>
          </tr>
        </table>
       
        
        <table style="width:100%; border 0px; border-spacing:0px; border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width=50%;vertical-align:top">
              <h2>
                Research
              </h2>
              <p>
              My research interests include machine learning for computer vision. More specifically, deep learning, kernel methods and asynchronous optimization for the machine learning part and image representation learning, scene understanding and video analysis for the computer vision part.
              </p>
            </td>
            <td style="padding:2.5%;width:50%;max-width:50%">
              <p style="text-align:center">
              <a class="twitter-timeline" data-width="400" data-height="300" data-chrome="nofooter noborders noscrollbar" data-tweet-limit="1" href="https://twitter.com/david_picard?ref_src=twsrc%5Etfw">Tweets by david_picard</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
              </p>
            </td>
          </tr>
        </table>


        <h2>
          PhD Students
        </h2>
        <br/>
        <h3>
          Current
        </h3>
        <ul>
          <li>Thomas Luka, 2019-2022, Cross-modal Representation Learning</li>
          <li><a href="https://perso-etis.ensea.fr/paumard/">Marie-Morgane Paumard</a>, 2017-2020, Ancient Fragment Re-assembly using Deep Learning (with H. Tabia)</li>
          <li><a href="https://scholar.google.fr/citations?user=jsMHC9YAAAAJ&hl=fr">Pierre Jacob</a>, 2017-2020, High-order statistics for representation learning (with A. Histace and E. Klein)</li>
        </ul> 
        <h3>
          Former
        </h3>
        <ul>
          <li><a href="https://scholar.google.fr/citations?user=VZ1Q5v4AAAAJ&hl=fr">Diogo Luvizon</a>, 2019, 2D/3D Pose Estimation and Action Recognition (with H. Tabia), now at Samsung</li>
          <li><a href="https://scholar.google.fr/citations?user=U0y5G7gAAAAJ&hl=fr">Jérôme Fellus</a>, 2017, Machine learning using asynchronous gossip exchange (with P.H. Gosselin), now postdoc at Irisa</li>
          <li><a href="https://perso.esiee.fr/~negrelr/index.php?page=home">Romain Negrel</a>, 2014, Representation learning for image retrieval (with P.H. Gosselin), now associate prof at Esiee</li>
        </ul> 
        
        <h2>
          Recent publications
        </h2>
        <p>
        Full list: <a href="https://scholar.google.fr/citations?user=YtF6k9AAAAAJ&hl=en">scholar</a>&nbsp;/&nbsp;<a href="https://dblp.uni-trier.de/pers/hd/p/Picard:David.html">dblp</a>&nbsp;/&nbsp;<a href="https://cv.archives-ouvertes.fr/david-picard">hal</a>
        </p>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'publications' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}

              <br>
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
              <br>
              {% if post.arxiv %}
              <a href="{{post.arxiv}}">arxiv</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              {% if post.doi %}
              <a href="{{post.doi}}">doi</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        <br>
        <br>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                Design and source code from <a style="font-size:small;" href="https://jonbarron.info">Jon Barron's website</a>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>

